/* FeatureTable.css */

#feature-table {
    background-color: var(--ufo-primary-bg);
    padding-bottom: 2em;
    table-layout: fixed;
}

#feature-table {
    tr:nth-child(even) {
        background-color: var(--ufo-primary-bg-highlight);
    }

    thead tr {
        position: sticky;
        top: 0;
        background: var(--ufo-primary-bg-highlight);
        border-bottom: 1pt solid var(--ufo-primary-fg);
        text-align: left;
    }

    th.datetime,
    td.datetime {
        font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    }
}